:root {
    --background-color: #f5f5f5;
     --text-color: #212121;
     --button-bg-color:  #2196f3;
     --button-text-color:#ffffff;  
     --button-hover-bg-color:#188ce8;
     --header-bg-color:#ffffff;  
     --foter-bg-color:  #2f303a;  
     --footer-text-color:#ffffff;
     --color-blue: #2196f3;

}
body {
    background-color: var(--background-color);
    color: var(--text-color);
}
button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
}
button:hover {
    background-color: var(--button-hover-bg-color);
}
header {
    background-color: var(--header-bg-color);
}
footer {
    background-color: var(--foter-bg-color);
    color: var(--footer-text-color);
}
span {
    color: var(--color-blue);
}
.hero {
    color:var(--header-bg-color)
}
.hero {
    background-color: var(--foter-bg-color);
}
